<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Longevity World Cup 2025 - Leaderboard and event details." />
<meta name="keywords" content="Longevity, World Cup, 2025, Leaderboard, Health, Event" />
<title>Longevity World Cup 2025 - Leaderboard</title>

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="Longevity World Cup 2025 - Leaderboard" />
<meta property="og:description" content="Too old for your sport? Not this one! In the Longevity World Cup, you don't age out - you age in. Reverse your age and rise on the leaderboard!" />
<meta property="og:image" content="https://longevityworldcup.com/assets/og-image.jpg" />
<meta property="og:url" content="https://longevityworldcup.com/" />
<meta property="og:type" content="website" />

<!-- Favicon Links -->
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="48x48" href="/assets/favicon-48x48.png" />
<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon-64x64.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="128x128" href="/assets/favicon-128x128.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon-192x192.png" />
<link rel="icon" type="image/png" sizes="256x256" href="/assets/favicon-256x256.png" />
<link rel="icon" type="image/png" sizes="384x384" href="/assets/favicon-384x384.png" />
<link rel="icon" type="image/png" sizes="512x512" href="/assets/favicon-512x512.png" />

<!-- Stylesheets -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/chart.js" crossorigin="anonymous" defer></script>
<script src="https://cdn.jsdelivr.net/npm/validator@13.9.0/validator.min.js"></script>

<script src="/js/misc.js"></script>