<style>
    .portrait,
    .podium-portrait {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid var(--secondary-color);
        margin: 1rem 0;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

        .portrait:hover,
        .podium-portrait:hover {
            transform: scale(1.1);
        }

    .leaderboard {
        display: flex;
        align-items: stretch;
        background-color: var(--card-bg);
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        flex-grow: 1;
    }

    .sidebar {
        width: 50px;
        padding: 0;
        background-color: var(--card-bg);
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        margin-right: 0.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: width 0.3s ease, padding 0.3s ease;
        overflow: hidden;
        flex-shrink: 0;
    }

        .sidebar:hover {
            width: auto;
            padding: 1rem;
            align-items: flex-start;
        }

        .sidebar .filter-section {
            display: none;
        }

        .sidebar:hover .filter-section {
            display: block;
        }

        .sidebar .sidebar-title .sidebar-icon {
            display: inline-block;
            font-size: 2rem;
        }

        .sidebar.collapsed .sidebar-icon {
            transform: translateY(10px); /* Adjust the value to position the icon lower */
        }

        .sidebar.collapsed .sidebar-title {
            padding-bottom: 19px; /* Adjust this value to lower the line */
        }

        .sidebar .sidebar-title .sidebar-title-text {
            display: none;
            margin-left: 0.5rem;
            font-size: 2rem;
        }

        .sidebar:hover .sidebar-title .sidebar-title-text {
            display: inline-block;
        }

    .sidebar-title {
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        font-size: 1.2rem;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: left;
        border-bottom: 2px solid var(--primary-color);
    }

    .content {
        flex-grow: 1;
        transition: margin-left 0.3s ease;
    }

    .sidebar:hover ~ .content {
        margin-left: 200px;
    }

    .sidebar:hover .sidebar-title {
        width: 100%; /* Full width only when sidebar is expanded */
    }

    .main-container {
        display: flex;
        align-items: flex-start;
    }

    table {
        flex-grow: 1;
        width: auto;
        border-collapse: separate;
        border-spacing: 0;
        align-self: flex-start; /* Add this line */
    }

    th,
    td {
        padding: 1.2rem 1rem;
        text-align: left;
    }

    th {
        background-color: rgba(0, 188, 212, 0.1);
        color: var(--primary-color);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }

    tr:nth-child(even) {
        background-color: rgba(240, 244, 248, 0.5);
    }

    tr {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        tr:hover {
            transform: scale(1.02);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

    .age-reduction {
        font-weight: 700;
        color: #4caf50;
    }

    .media-contact {
        color: rgba(255, 64, 129, 0.7);
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 10px 0;
    }

        .media-contact:hover {
            color: var(--primary-color);
        }

        .media-contact i {
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

    .rank {
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--primary-color);
    }

    .athlete-name {
        color: var(--primary-color);
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }

        .athlete-name:hover {
            color: var(--secondary-color);
        }

    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0;
        }

        10%, 90% {
            opacity: 1;
        }
    }

    .fade-in-out {
        animation: fadeInOut 2s ease-in-out forwards;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .no-scroll {
        overflow: hidden;
    }

    .enlarged-portrait {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        cursor: pointer;
    }

        .enlarged-portrait img {
            max-width: 90%;
            max-height: 90%;
            object-fit: contain;
        }

    .podium {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 2rem;
    }

    .podium-item {
        position: relative;
        text-align: center;
        padding: 1rem;
        background-color: var(--card-bg);
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 200px;
        min-height: 230px;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .podium-portrait {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid var(--secondary-color);
        margin: 1rem 0;
    }

    .podium-item:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .podium-item.first {
        order: 2;
        height: 320px;
    }

    .podium-item.second {
        order: 1;
        height: 300px;
    }

    .podium-item.third {
        order: 3;
        height: 280px;
    }

    .podium-item-lower {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
        transition: clip-path 0.3s ease-in-out;
    }

        .podium-item-lower:hover {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

    .podium-item.first .podium-item-lower {
        background-color: #FFF9C4;
    }

    .podium-item.second .podium-item-lower {
        background-color: #E0E0E0;
    }

    .podium-item.third .podium-item-lower {
        background-color: #D7CCC8;
    }

    .prize-money {
        font-weight: bold;
        font-size: 2rem;
        color: #4caf50;
        margin-top: 2px;
    }

    .btc-amount {
        margin-top: 1rem;
        font-weight: normal;
        font-size: 0.8rem;
        color: #333;
    }

    .podium-rank {
        position: absolute;
        top: -6px;
        left: 10%;
        transform: translateX(-50%);
        background-color: white;
        padding: 2px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .personal-link-icon {
        color: var(--primary-color);
        font-size: 1rem;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        margin-left: 0.2rem;
    }

        .personal-link-icon:first-of-type {
            margin-left: 0;
        }

        .personal-link-icon:hover {
            color: var(--secondary-color);
        }

    .search-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    .search-container {
        position: relative;
        max-width: 250px;
        width: 100%;
        margin-right: 2rem;
    }

    #athleteSearch {
        width: 100%;
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        border: 2px solid var(--primary-color);
        border-radius: 25px;
        font-size: 1rem;
        transition: border-color 0.3s ease;
        outline: none;
        box-sizing: border-box;
    }

        #athleteSearch:focus {
            border-color: var(--secondary-color);
        }

    .search-icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: var(--primary-color);
        font-size: 1.2rem;
        pointer-events: none;
        z-index: 2;
    }

    .clear-icon {
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%);
        color: var(--primary-color);
        font-size: 1.2rem;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

        .clear-icon.visible {
            opacity: 1;
            visibility: visible;
        }

        .clear-icon:hover {
            color: var(--secondary-color);
        }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .highlight {
        background-color: rgba(255, 255, 0, 0.5);
        color: #000;
    }

    .leaderboard table tbody tr,
    .podium-item {
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .hidden {
        opacity: 0;
        transform: scale(0.95);
        height: 0;
        padding: 0;
        margin: 0;
        border: none;
        transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease, padding 0.3s ease, margin 0.3s ease;
        pointer-events: none;
        overflow: hidden;
    }

    .fade-out {
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .no-results {
        color: var(--primary-color);
        font-weight: bold;
        text-align: center;
        padding: 1rem;
        font-size: 1.2rem;
    }

    .filter-section {
        margin-bottom: 1.5rem;
    }

        .filter-section h3 {
            margin-bottom: 0.5rem;
            color: var(--secondary-color);
            font-size: 1.2rem;
        }

        .filter-section ul {
            list-style-type: none;
            padding: 0;
        }

        .filter-section li {
            margin-bottom: 0.5rem;
        }

        .filter-section label {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #555;
            transition: color 0.2s;
        }

        .filter-section input[type="checkbox"] {
            margin-right: 0.5rem;
            accent-color: var(--primary-color);
        }

        .filter-section label:hover {
            color: var(--primary-color);
        }

        .filter-section input[type="checkbox"]:checked + label {
            font-weight: bold;
            color: var(--secondary-color);
        }

    @media (max-width: 768px) {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        tr {
            margin-bottom: 1rem;
            border-bottom: 2px solid var(--primary-color);
        }

        td {
            border: none;
            position: relative;
            padding-left: 50%;
        }

            td:before {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                content: attr(data-label);
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.8rem;
                color: var(--primary-color);
            }

        .header {
            flex-direction: column;
            align-items: stretch;
        }

        .search-container {
            max-width: 100%;
            margin-top: 1rem;
        }

        #athleteSearch {
            padding: 0.5rem 2.5rem 0.5rem 1rem;
            font-size: 1rem;
        }

        .search-icon {
            right: 1rem;
        }

        .clear-icon {
            right: 3rem;
        }

        .main-container {
            flex-direction: column;
        }

        .sidebar {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
</style>

<div class="main-container">

    <div class="content">
        <div class="podium">
            <!-- Podium items will be dynamically inserted here -->
        </div>

        <div class="search-wrapper">
            <div class="search-container">
                <label for="athleteSearch" class="visually-hidden">Search Athletes</label>
                <input type="text" id="athleteSearch" placeholder="Search Athlete..." aria-label="Search Athletes">
                <span class="search-icon"><i class="fa fa-search"></i></span>
                <span class="clear-icon" tabindex="0" role="button" aria-label="Clear Search">
                    <i class="fa fa-times"></i>
                </span>
            </div>
        </div>

        <div class="leaderboard">
            <div class="sidebar collapsed">
                <h2 class="sidebar-title">
                    <span class="sidebar-icon"><i class="fa fa-trophy"></i></span>
                    <span class="sidebar-title-text">Leagues</span>
                </h2>
                <div class="filter-section">
                    <h3>Divisions</h3>
                    <ul></ul> <!-- This will be populated dynamically -->
                </div>

                <div class="filter-section" id="generation-filter-section">
                    <h3>Generations</h3>
                    <ul></ul> <!-- This will be populated dynamically -->
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th></th>
                        <th>Athlete</th>
                        <th>
                            Sponsor<br />
                            <a href="https://github.com/nopara73/LongevityWorldCup/issues/74" target="_blank" style="color: #999; text-decoration: underline; cursor: pointer;"
                               onmouseover="this.style.color='var(--secondary-color)';"
                               onmouseout="this.style.color='#999';">
                                <span style="font-size: 0.8rem;">(coming soon)</span>
                            </a>
                        </th>
                        <th>
                            <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC5940111/pdf/aging-10-101414.pdf" target="_blank" style="color: var(--primary-color); text-decoration: underline; cursor: pointer;"
                               onmouseover="this.style.color='var(--secondary-color)';"
                               onmouseout="this.style.color='var(--primary-color)';">
                                Age Reduction
                            </a>
                        </th>
                        <th>Media Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table rows will be dynamically inserted here -->
                </tbody>
            </table>
        </div>

        <div id="detailsModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="athleteName"></h2>
                <p id="athleteDetails"></p>
                <canvas id="ageChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="/js/pheno-age.js"></script>
<script>
    let athleteResults = [];

    // Define the biomarkers array (ensure this is available before calculations)
    const biomarkers = [
        { id: 'age', name: 'Age', coeff: 0.0804 },
        { id: 'albumin', name: 'Albumin', coeff: -0.0336 },
        { id: 'creatinine', name: 'Creatinine', coeff: 0.0095 },
        { id: 'glucose', name: 'Glucose', coeff: 0.1953 },
        { id: 'crp', name: 'C-reactive protein', coeff: 0.0954 },
        { id: 'wbc', name: 'White blood cell count', coeff: 0.0554 },
        { id: 'lymphocyte', name: 'Lymphocytes', coeff: -0.012 },
        { id: 'mcv', name: 'Mean corpuscular volume', coeff: 0.0268 },
        { id: 'rcdw', name: 'Red cell distribution width', coeff: 0.3306 },
        { id: 'ap', name: 'Alkaline phosphatase', coeff: 0.0019 }
    ];

    const prizeMoney = {
        1: { btc: "0.00360248 BTC", amount: "$100.80" },
        2: { btc: "0.00072578 BTC", amount: "$20.16" },
        3: { btc: "0.00014401 BTC", amount: "$4.03" }
    };

    function LoadLeaderboard(includePodium = true, maxAthletes = Infinity) {
        fetch('/api/data/athletes')
            .then(response => response.json())
            .then(athletes => {
                // Array to store athletes with their lowest PhenoAge and age reduction
                athleteResults = athletes.map(athlete => {
                    // Calculate the chronological age from the athlete's date_of_birth
                    const dob = `${athlete.date_of_birth.year}-${String(athlete.date_of_birth.month).padStart(2, '0')}-${String(athlete.date_of_birth.day).padStart(2, '0')}`;
                    const chronologicalAge = calculateAgeFromDOB(dob);

                    // Get birth year and generation
                    const birthYear = athlete.date_of_birth.year;
                    const generation = getGeneration(birthYear);

                    // Initialize a variable to keep track of the lowest PhenoAge for this athlete
                    let lowestPhenoAge = Infinity;

                    // Iterate through all biomarker sets for each athlete
                    athlete.biomarkers.forEach(biomarkerSet => {
                        // Prepare the biomarker values in the order expected for PhenoAge calculation
                        const biomarkerValues = [chronologicalAge];

                        // Add the values of each required biomarker (in the same order as in 'biomarkers' array)
                        biomarkerValues.push(
                            biomarkerSet.alb_gL,      // Albumin
                            biomarkerSet.creat_umolL, // Creatinine
                            biomarkerSet.glu_mmolL,   // Glucose
                            biomarkerSet.crp_mgL,     // C-reactive Protein
                            biomarkerSet.wbc_1000cellsuL, // White Blood Cell Count
                            biomarkerSet.lym_pc,      // Lymphocytes
                            biomarkerSet.mcv_fL,      // Mean Corpuscular Volume
                            biomarkerSet.rdw_pc,      // Red Cell Distribution Width
                            biomarkerSet.alp_UL       // Alkaline Phosphatase
                        );

                        // Calculate the PhenoAge for the current biomarker set
                        const coefficients = biomarkers.map(marker => marker.coeff);
                        const phenoAge = calculatePhenoAge(biomarkerValues, coefficients);

                        // Update the lowest PhenoAge if the current one is lower
                        if (phenoAge < lowestPhenoAge) {
                            lowestPhenoAge = phenoAge;
                        }
                    });

                    // Calculate the age reduction
                    const ageReduction = lowestPhenoAge - chronologicalAge;

                    return {
                        name: athlete.name,
                        mediaContact: athlete.media_contact,
                        chronologicalAge: chronologicalAge,
                        lowestPhenoAge: lowestPhenoAge,
                        ageReduction: ageReduction,
                        personalLink: athlete.personal_link,
                        profilePic: athlete['profile-pic'],
                        division: athlete.division,
                        generation: generation
                    };

                });

                generateDivisionFilters(athleteResults);
                generateGenerationFilters(athleteResults);

                // Sort the athletes by age reduction in ascending order
                athleteResults.sort((a, b) => a.ageReduction - b.ageReduction);

                // Assign ranks to each athlete based on the sorted order
                athleteResults.forEach((athlete, index) => { athlete.rank = index + 1; });

                const podiumCount = includePodium ? 3 : 0;

                if (includePodium) {
                    // Get the top three athletes from athleteResults
                    const topThree = athleteResults.slice(0, 3);

                    // Select the podium container and clear existing items
                    const podium = document.querySelector('.podium');
                    podium.innerHTML = ''; // Clear any existing podium items

                    // Loop through the top three athletes and create podium items
                    topThree.forEach(athlete => {
                        let rankClass, rankEmoji;

                        switch (athlete.rank) {
                            case 1:
                                rankClass = 'first';
                                rankEmoji = '🥇';
                                break;
                            case 2:
                                rankClass = 'second';
                                rankEmoji = '🥈';
                                break;
                            case 3:
                                rankClass = 'third';
                                rankEmoji = '🥉';
                                break;
                            default:
                                return; // Only handle top three
                        }

                        // Create the podium-item div
                        const podiumItem = document.createElement('div');
                        podiumItem.classList.add('podium-item', rankClass);

                        // Populate the inner HTML of podiumItem
                        podiumItem.innerHTML = `
                <div class="podium-rank">${rankEmoji}</div>
                <img src="${athlete.profilePic}" alt="${athlete.name} portrait" class="podium-portrait" loading="lazy">
                <div>
                    <span class="athlete-name" style="cursor: pointer;">${athlete.name}</span>
                    ${athlete.personalLink ? `<a href="${athlete.personalLink}" target="_blank" class="personal-link-icon">
                    <i class="fa fa-link"></i>
                    </a>` : ''}
                    ${renderMediaContact(athlete.mediaContact, true)}
                </div>

                <div><span class="age-reduction">${Math.abs(athlete.ageReduction.toFixed(1))} years</span> reduced</div>
                <div class="podium-item-lower">
                    <div class="btc-amount">(${prizeMoney[athlete.rank].btc})</div>
                    <div class="prize-money">${prizeMoney[athlete.rank].amount}</div>
                </div>
            `;

                        // Append the podiumItem to the podium container
                        podium.appendChild(podiumItem);

                        // After appending the podium item
                        podiumItem.setAttribute('data-division', athlete.division.toLowerCase());
                        podiumItem.setAttribute('data-generation', athlete.generation.toLowerCase());

                    });
                } else {
                    // Hide the podium container if not included
                    const podium = document.querySelector('.podium');
                    if (podium) {
                        podium.style.display = 'none';
                    }
                }

                // Populate the table with athletes ranked >3
                const tableBody = document.querySelector('.leaderboard table tbody');
                const remainingAthletes = includePodium ? athleteResults.slice(podiumCount) : athleteResults;

                tableBody.innerHTML = ''; // Clear existing table rows
                remainingAthletes.forEach((athlete, index) => {
                    const row = document.createElement('tr');

                    row.innerHTML = `
            <td data-label="Rank"> <span class="rank"> ${athlete.rank}</span> </td>
            <td data-label="Portrait"> <img src="${athlete.profilePic}" alt="${athlete.name} portrait" class="portrait" loading="lazy" /> </td>
            <td data-label="Athlete">
                <span class="athlete-name">${athlete.name}</span>
                ${athlete.personalLink ? `<a href="${athlete.personalLink}" target="_blank" class="personal-link-icon">
                <i class="fa fa-link"></i>
                </a>` : ''}
            </td>
            <td data-label="Sponsor"> </td>
            <td data-label="Age Reduction" class="age-reduction"> ${(athlete.ageReduction > 0 ? '+' : '') + athlete.ageReduction.toFixed(1)} years</td>
            <td data-label="Media Contact">${renderMediaContact(athlete.mediaContact, false)}</td>`;

                    tableBody.appendChild(row);

                    // After appending the row
                    row.setAttribute('data-division', athlete.division.toLowerCase());
                    row.setAttribute('data-generation', athlete.generation.toLowerCase());

                    // Hide athletes beyond the maxAthletes limit
                    if (index >= maxAthletes - podiumCount) {
                        row.style.display = 'none';
                        row.classList.add('extra-athlete'); // Optional: add a class for future reference
                    }
                });

                document.querySelectorAll('.portrait, .podium-portrait').forEach(portrait => {
                    portrait.addEventListener('click', function () {
                        const enlargedImg = document.createElement('div');
                        enlargedImg.classList.add('enlarged-portrait');
                        enlargedImg.innerHTML = `
<img src="${this.src}" alt="${this.alt}" loading="lazy">`;
                        document.body.appendChild(enlargedImg);

                        // Disable scrolling when the image is enlarged
                        document.body.classList.add('no-scroll');

                        enlargedImg.onclick = function () {
                            document.body.removeChild(this);

                            // Re-enable scrolling when the image is closed
                            document.body.classList.remove('no-scroll');
                        };
                    });
                });

                // Select both table and podium athlete names
                document.querySelectorAll('.athlete-name').forEach(athleteNameElement => {
                    athleteNameElement.addEventListener('click', function () {
                        // Check if it's a table row or podium item
                        const athleteRow = this.closest('tr') || this.closest('.podium-item');
                        if (!athleteRow) {
                            console.error('Athlete row not found');
                            return;
                        }
                        const athleteNameText = this.textContent;
                        const sponsorElement = athleteRow.querySelector('td:nth-child(4) a'); // Table sponsor
                        const sponsor = sponsorElement ? sponsorElement.textContent : 'No sponsor';
                        const ageReductionElement = athleteRow.querySelector('.age-reduction');
                        const ageReduction = ageReductionElement ? ageReductionElement.textContent : 'N/A';

                        // Populate the modal
                        athleteDetails.innerHTML = `
<strong>Sponsor:</strong> ${sponsor}
<br>
<strong>Age Reduction:</strong> ${ageReduction}
<br>
<strong>Key Achievement:</strong> ${getAchievement(athleteNameText)}
                                                                                                                            `;

                        // Display the modal
                        modal.style.display = "block";
                        document.body.classList.add('no-scroll'); // Disable scrolling when modal opens

                        // Update or create the chart
                        if (ageChart) {
                            ageChart.destroy();
                        }

                        const ctx = document.getElementById('ageChart').getContext('2d');
                        ageChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Chronological Age', 'Biological Age'],
                                datasets: [{
                                    label: 'Age Comparison',
                                    data: [getRandomAge(), getRandomAge()],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(75, 192, 192, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(75, 192, 192, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    });
                });

            })
            .catch(error => {
                console.error('Error fetching athletes:', error);
            });
    };

    function renderMediaContact(contact, isPodium) {
        const isEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(contact);

        if (isPodium) {
            return `${isEmail
                ? `<a href="mailto:${contact}" class="personal-link-icon" style="margin-left: 0.2rem;">
                    ${getIcon(contact)}
                   </a>`
                : `<a href="${contact}" target="_blank" class="personal-link-icon" style="margin-left: 0.2rem;">
                    ${getIcon(contact)}
                   </a>`
                }`;
        }
        else return `${isEmail
            ? `<a href="mailto:${contact}" class="media-contact">
                ${getIcon(contact)}
               </a>`
            : `<a href="${contact}" target="_blank" class="media-contact">
                ${getIcon(contact)}
               </a>`
            }`;
    }

    const modal = document.getElementById("detailsModal");
    const closeBtn = document.getElementsByClassName("close")[0];
    const athleteDetails = document.getElementById("athleteDetails");
    let ageChart;

    closeBtn.onclick = function () {
        modal.style.display = "none";
        document.body.classList.remove('no-scroll'); // Re-enable scrolling when the modal closes
    };

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
            document.body.classList.remove('no-scroll'); // Re-enable scrolling when the modal closes
        }
    };

    function getAchievement(name) {
        const achievements = {
            'Amelia Zhao': 'First to achieve 50% reduction in epigenetic age markers',
            'Nikolai Volkov': 'Pioneered the "Chronos Protocol" for time dilation',
            'Isabella Rodriguez': 'Broke the record for telomere length restoration',
            'Jamal Okonkwo': 'Developed the "Epigenetic Reset" meditation technique',
            'Sophia Nakamura': 'Created the most effective senolytic compound to date'
        };
        return achievements[name] || 'Significant advancements in longevity science';
    }

    function getRandomAge() {
        return Math.floor(Math.random() * (80 - 40 + 1)) + 40;
    }

    function debounceFilterAthletes() {
        toggleClearIcon();
        debouncedFilter();
    }

    function toggleClearIcon() {
        const searchInput = document.getElementById('athleteSearch');
        const clearIcon = document.querySelector('.clear-icon');

        if (searchInput.value.trim().length > 0) {
            clearIcon.classList.add('visible');
        } else {
            clearIcon.classList.remove('visible');
        }
    }

    function clearSearch() {
        const searchInput = document.getElementById('athleteSearch');
        const clearIcon = document.querySelector('.clear-icon');
        const podium = document.querySelector('.podium');

        searchInput.value = '';
        clearIcon.classList.remove('visible');
        removeAllHighlights();
        performFilter(); // Reapply filters without search terms

        // Ensure the podium is visible after clearing the search
        podium.style.display = 'flex';

        // Hide all elements with the "extra-athlete" class
        document.querySelectorAll('.extra-athlete').forEach(row => {
            row.style.display = 'none';
        });
    }

    function removeAllHighlights() {
        document.querySelectorAll('.athlete-name').forEach(element => {
            element.innerHTML = escapeHTML(element.textContent);
        });
    }

    function debounce(func, delay) {
        let debounceTimer;
        return function (...args) {
            const context = this;
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => func.apply(context, args), delay);
        };
    }

    // Wrap the filter function with debounce
    const debouncedFilter = debounce(() => {
        performFilter();
    }, 400);

    function normalizeString(str) {
        return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase();
    }

    function performFilter() {
        // Get selected divisions
        const selectedDivisions = Array.from(document.querySelectorAll('input[name="division"]:checked'))
            .map(checkbox => checkbox.value.toLowerCase());

        // Get selected generations
        const selectedGenerations = Array.from(document.querySelectorAll('input[name="generation"]:checked'))
            .map(checkbox => checkbox.value.toLowerCase());

        const query = normalizeString(document.getElementById('athleteSearch').value.trim().toLowerCase());
        const searchTerms = query.split(/\s+/).filter(term => term.length > 0);
        const uniqueSearchTerms = [...new Set(searchTerms)];

        const tableRows = document.querySelectorAll('.leaderboard table tbody tr');
        const podiumItems = document.querySelectorAll('.podium-item');

        let anyPodiumVisible = false;

        // If searchTerms is empty, show all
        const showAll = uniqueSearchTerms.length === 0;

        // Filter Table Rows
        tableRows.forEach(row => {
            // Remove any inline styles to reset display property
            row.style.display = '';
            const athleteNameElement = row.querySelector('.athlete-name');
            if (athleteNameElement) {
                const athleteNameText = athleteNameElement.textContent;
                const athleteNameNormalized = normalizeString(athleteNameText);

                // Get division and generation from data attributes
                const division = row.getAttribute('data-division').toLowerCase();
                const generation = row.getAttribute('data-generation').toLowerCase();

                // Initialize matches to true
                let matches = true;

                // Check division match
                if (selectedDivisions.length > 0) {
                    matches = matches && selectedDivisions.includes(division);
                }

                // Check generation match
                if (selectedGenerations.length > 0) {
                    matches = matches && selectedGenerations.includes(generation);
                }

                // Check if search terms match
                if (matches && !showAll) {
                    matches = uniqueSearchTerms.every(term =>
                        athleteNameNormalized.includes(term)
                    );
                }

                if (matches) {
                    row.classList.remove('hidden');
                    showWithDelay(row);
                    highlightText(athleteNameElement, uniqueSearchTerms);
                } else {
                    row.classList.add('hidden');
                    hideWithDelay(row);
                    removeHighlight(athleteNameElement);
                }
            }
        });

        // Filter Podium Items
        podiumItems.forEach(item => {
            const athleteNameElement = item.querySelector('.athlete-name');
            if (athleteNameElement) {
                const athleteNameText = athleteNameElement.textContent;
                const athleteNameNormalized = normalizeString(athleteNameText);

                // Get division and generation from data attributes
                const division = item.getAttribute('data-division').toLowerCase();
                const generation = item.getAttribute('data-generation').toLowerCase();

                let matches = true;

                // Check if division matches
                if (selectedDivisions.length > 0 && !selectedDivisions.includes(division)) {
                    matches = false;
                }

                // Check if generation matches
                if (selectedGenerations.length > 0 && !selectedGenerations.includes(generation)) {
                    matches = false;
                }

                // Check if search terms match
                if (matches && !showAll) {
                    matches = uniqueSearchTerms.every(term =>
                        athleteNameNormalized.includes(term)
                    );
                }

                if (matches) {
                    item.classList.remove('hidden');
                    item.style.display = ''; // Add this line
                    anyPodiumVisible = true; // Add this line
                    highlightText(athleteNameElement, uniqueSearchTerms);
                } else {
                    item.classList.add('hidden');
                    item.style.display = 'none';
                    removeHighlight(athleteNameElement);
                }
            }
        });

        // Hide or Show the Podium Container Based on Visibility of Podium Items
        const podium = document.querySelector('.podium');
        if (anyPodiumVisible) {
            podium.style.display = 'flex'; // Ensure it's visible if any podium item is visible
        } else {
            podium.style.display = 'none'; // Hide the podium container if no items are visible
        }

        // Display "No Results Found" if Necessary
        displayNoResults(tableRows, podiumItems, query);
    }

    function escapeHTML(string) {
        const div = document.createElement('div');
        div.textContent = string;
        return div.innerHTML;
    }

    function highlightText(element, searchTerms) {
        const originalText = element.textContent;
        const normalizedText = normalizeString(originalText);

        // Build a mapping from positions in normalizedText to positions in originalText
        const mapping = [];
        let originalIndex = 0;
        let normalizedIndex = 0;

        while (originalIndex < originalText.length) {
            const originalChar = originalText[originalIndex];
            const normalizedChar = normalizeString(originalChar);

            for (let i = 0; i < normalizedChar.length; i++) {
                mapping[normalizedIndex] = originalIndex;
                normalizedIndex++;
            }

            originalIndex++;
        }

        // Now search for matches in normalizedText
        let matchIndices = [];

        searchTerms.forEach(term => {
            let startIndex = 0;
            const termLength = term.length;

            while (startIndex <= normalizedText.length - termLength) {
                if (normalizedText.substr(startIndex, termLength) === term) {
                    // Map the normalized indices back to original indices
                    const originalStart = mapping[startIndex];
                    const originalEnd = mapping[startIndex + termLength - 1] + 1;
                    matchIndices.push({ start: originalStart, end: originalEnd });
                    startIndex += termLength;
                } else {
                    startIndex++;
                }
            }
        });

        // Merge overlapping matches
        matchIndices.sort((a, b) => a.start - b.start);
        let mergedIndices = [];
        matchIndices.forEach(match => {
            if (mergedIndices.length === 0) {
                mergedIndices.push(match);
            } else {
                const last = mergedIndices[mergedIndices.length - 1];
                if (match.start <= last.end) {
                    last.end = Math.max(last.end, match.end);
                } else {
                    mergedIndices.push(match);
                }
            }
        });

        // Build the highlighted HTML
        let highlightedHTML = '';
        let currentIndex = 0;

        mergedIndices.forEach(match => {
            // Append text before the match
            highlightedHTML += escapeHTML(originalText.slice(currentIndex, match.start));

            // Append the matched text with highlight
            highlightedHTML += '<span class="highlight">' +
                escapeHTML(originalText.slice(match.start, match.end)) +
                '</span>';

            currentIndex = match.end;
        });

        // Append any remaining text
        highlightedHTML += escapeHTML(originalText.slice(currentIndex));

        element.innerHTML = highlightedHTML;
    }

    function removeHighlight(element) {
        element.innerHTML = element.textContent;
    }

    // Utility function to escape special characters in the search query
    function escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
    }

    // Function to display "No results found" message
    function displayNoResults(tableRows, podiumItems, query) {
        // Remove existing no-results message if any
        const existingMessage = document.querySelector('.no-results');
        if (existingMessage) {
            existingMessage.remove();
        }

        // Check if any rows or podium items are visible
        const anyVisible = Array.from(tableRows).some(row => !row.classList.contains('hidden') && !row.classList.contains('no-results') && row.style.display !== 'none') ||
            Array.from(podiumItems).some(item => !item.classList.contains('hidden') && item.style.display !== 'none');

        if (!anyVisible && query.trim() !== '') {
            const tableBody = document.querySelector('.leaderboard table tbody');
            const noResults = document.createElement('tr');
            noResults.classList.add('no-results');
            noResults.textContent = 'No results found.';
            noResults.style.textAlign = 'center';
            noResults.style.padding = '1rem';
            noResults.style.fontSize = '1.2rem';
            noResults.innerHTML = `<td colspan="6">No results found for "<strong>${escapeHTML(query)}</strong>".</td>`;
            tableBody.appendChild(noResults);
        }
    }

    let isInitialClick = true; // Track if it’s the first click after focusing

    const searchInput = document.getElementById('athleteSearch');

    // Select all text on the first focus
    searchInput.addEventListener('focus', () => {
        isInitialClick = true;
    });

    // Select all text on the first click, then just place the cursor where clicked on the second click
    searchInput.addEventListener('click', (event) => {
        if (isInitialClick) {
            searchInput.select(); // Select all text
            isInitialClick = false;
        }
    });

    document.addEventListener('keydown', function (event) {
        const searchInput = document.getElementById('athleteSearch');
        if (event.key === 'Escape' && searchInput.value.trim().length > 0) {
            clearSearch();
            searchInput.blur(); // Optionally remove focus
        }
    });

    // Modify the input event listener
    document.getElementById('athleteSearch').addEventListener('input', function () {
        if (this.value.trim() === '') {
            clearSearch(); // Run only when input is cleared
        } else {
            debounceFilterAthletes(); // Run debounce function when input is not empty
        }
    });

    document.querySelector('.clear-icon').addEventListener('click', clearSearch);
    document.querySelector('.clear-icon').addEventListener('keypress', function (event) {
        if (event.key === 'Enter') clearSearch();
    });

    function hideWithDelay(element) {
        element.classList.add('fade-out'); // Start fade-out transition
        setTimeout(() => {
            element.style.display = 'none'; // Apply display: none after transition
            element.classList.remove('fade-out'); // Reset class
        }, 300); // Delay in milliseconds
    }

    function showWithDelay(element) {
        element.style.display = ''; // Remove display: none to make it visible
        element.classList.add('fade-in'); // Start fade-in transition

        setTimeout(() => {
            element.classList.remove('fade-in'); // Clean up fade-in class after transition
        }, 300); // Match the fade-out delay for smoothness
    }

    function generateDivisionFilters(athletes) {
        const filterSection = document.querySelector('.filter-section ul');
        filterSection.innerHTML = ''; // Clear existing filters if any

        // Count occurrences of each division
        const divisionCounts = athletes.reduce((acc, athlete) => {
            acc[athlete.division] = (acc[athlete.division] || 0) + 1;
            return acc;
        }, {});

        // Define icons for each division
        const divisionIcons = {
            "men's": "💪",
            "women's": "👠",
            open: "🦾"
        };

        // Generate the filter items with icons and counts
        Object.keys(divisionCounts).forEach(division => {
            const count = divisionCounts[division];
            const normalizedDivision = division.toLowerCase();
            const icon = divisionIcons[normalizedDivision] || ""; // Default to no icon if not found

            const li = document.createElement('li');
            li.innerHTML = `
            <label>
                <input type="checkbox" name="division" value="${division}">
                ${icon} ${division.charAt(0).toUpperCase() + division.slice(1)} (${count})
            </label>
        `;
            filterSection.appendChild(li);
            const input = li.querySelector('input[type="checkbox"]');
            input.addEventListener('change', performFilter);

        });
    }

    function generateGenerationFilters(athletes) {
        const filterSection = document.querySelector('#generation-filter-section ul');
        filterSection.innerHTML = ''; // Clear existing filters if any

        // Count occurrences of each generation
        const generationCounts = athletes.reduce((acc, athlete) => {
            acc[athlete.generation] = (acc[athlete.generation] || 0) + 1;
            return acc;
        }, {});

        // Define icons for each generation
        const generationIcons = {
            "Silent Generation": "📻",
            "Baby Boomers": "📺",
            "Gen X": "🖥️",
            "Millennials": "💻",
            "Gen Z": "📱",
            "Gen Alpha": "🚀"
        };

        // Generate the filter items with icons and counts
        Object.keys(generationCounts).forEach(generation => {
            const count = generationCounts[generation];
            const icon = generationIcons[generation] || ""; // Default to no icon if not found

            const li = document.createElement('li');
            li.innerHTML = `
            <label>
                <input type="checkbox" name="generation" value="${generation}">
                ${icon} ${generation} (${count})
            </label>
        `;
            filterSection.appendChild(li);
            const input = li.querySelector('input[type="checkbox"]');
            input.addEventListener('change', performFilter);

        });
    }

    function getGeneration(birthYear) {
        if (birthYear >= 1928 && birthYear <= 1945) {
            return "Silent Generation";
        } else if (birthYear >= 1946 && birthYear <= 1964) {
            return "Baby Boomers";
        } else if (birthYear >= 1965 && birthYear <= 1980) {
            return "Gen X";
        } else if (birthYear >= 1981 && birthYear <= 1996) {
            return "Millennials";
        } else if (birthYear >= 1997 && birthYear <= 2012) {
            return "Gen Z";
        } else if (birthYear >= 2013) {
            return "Gen Alpha";
        } else {
            return "Unknown Generation";
        }
    }

    document.querySelector('.sidebar').addEventListener('mouseenter', function () {
        this.classList.remove('collapsed');
    });

    document.querySelector('.sidebar').addEventListener('mouseleave', function () {
        this.classList.add('collapsed');
    });
</script>