<meta charset="UTF-8">
<title>Sub progress bar</title>
<link rel="stylesheet" href="{{ASSET_SUB_PROGRESS_BAR_CSS}}">
<div id="subProgressContainerItem" class="sub-progress-container">
    <div class="sub-progress-track">
        <div class="progress-bar">
            <div class="progress-fill" id="subProgressFill"></div>
        </div>
        <div class="stages">
        <div class="stage" id="subStage1">
            <div class="stage-dot">1</div>
        </div>
        <div class="stage" id="subStage2">
            <div class="stage-dot">2</div>
        </div>
        <div class="stage" id="subStage3">
            <div class="stage-dot">3</div>
        </div>
        <div class="stage" id="subStage4">
            <div class="stage-dot">4</div>
        </div>
        <div class="stage" id="subStage5">
            <div class="stage-dot">5</div>
        </div>
        </div>
    </div>
</div>

<script src="{{ASSET_SUB_PROGRESS_BAR_JS}}"></script>
